<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
    <title>Crear producto</title>
</head>
<body style="background-color: rgb(238, 239, 240);">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(0, 110, 255);">
      <a class="navbar-brand" href="index.html">Facturacion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crear Productos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="lista_productos.html">Lista Productos</a>
                <a class="dropdown-item" href="formulario_producto.html">Crear Producto</a>
                <a class="dropdown-item" href="formulario_clientes.html">Crear cliente</a>
                <a class="dropdown-item" href="clientes.html">Informacion clientes</a>
                <a class="dropdown-item" href="formulario_usuarios.html">Crear usuario</a>
                <a class="dropdown-item" href="usuarios.html">Lista usuarios</a>
                <a class="dropdown-item" href="lista_facturas.html">Lista facturas</a>
                <a class="dropdown-item" href="facturas.html">facturas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn " style="background-color: rgb(15, 173, 81);" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <h1 style="color: darkcyan; font-family: fantasy;">Crear Producto</h1>   
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" placeholder="Describa el producto">
          </div>
          <div class="form-group col-md-6">
            <label for="cantidad_inventario">Cantidad Inventario</label>
            <input type="number" class="form-control" id="cantidad_inventario" placeholder="Indique una cantidad">
          </div>
          <div class="form-group col-md-6">
            <label for="precio_unitario">Precio Unitario</label>
            <input type="number" class="form-control" id="precio_unitario" placeholder="Indique un valor">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="unidad_medida">Unidad de Medida</label>
            <select id="unidad_medida" class="form-control">
              <option selected>Por favor seleccione...</option>
              <option value="GRS">GRS</option>
              <option value="UND">UND</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="categoria">Categoria</label>
            <select id="categoria" class="form-control">
              <option selected>Por favor seleccione...</option>
              <option value="1">Alimentos</option>
              <option value="2">Ropa</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>  
</body>
</html>





